<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="uyg22.Ayarlar" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <uyg22.Ayarlar>
            <setting name="ArkaPlanRengi" serializeAs="String">
                <value>255, 128, 0</value>
            </setting>
            <setting name="YaziRengi" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="YaziFontu" serializeAs="String">
                <value>Verdana, 8pt</value>
            </setting>
        </uyg22.Ayarlar>
    </userSettings>
</configuration>